/*
### Normativa ###
* @media "querie" siempre al final del documento CSS
* No utilizar "margin", solo si es extremadamente necesario
* No utilizar "px", utilizar: "em", "rem".
    - width: vw;
    - height: vh;
    - margin / padding: rem; em;
    - line height: rem; em;
. Cada uno responsable de su parte (no intromision)
. ';' -> Poner siempre
. Antes de finalizar una sección, presentar a equipo**
. Utilizar mismas dimensiones (ancho pantalla)
. Utilizar mismas unidades de medida (em)
. Utilizar 'outline' en cada seccion para visualizar estructura contenido. (NO CUESTA NADA)
. Fuente proyecto: font-family: 'Roboto', sans-serif;
.Fuente proyecto: font-family: 'Roboto Condensed', sans-serif;
  . Colores a través de ROOT
. Look & feel (Combinación NEGRO - BLANCO)
. Añadir un comentario en cada sección / apartado

RECORDATORIO: Versión oficial Iphone 12 (iOS 14) // 390px - 844px

*/

/* ---------------------- Import section -------------------------- */

@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* ------------------------- Root ---------------------------------- */

:root {
  --backgroundprimary-clr: rgb(255, 255, 255);
  --backgroundsecundary-clr: rgb(234, 222, 222);
  --backgroundbox-clr: #989494;
}

/*
  var(--backgroundprimary-clr);
  var(--backgroundsecundary-clr);
  var(--backgroundbox-clr);
*/

/* ------------------------- Generic Section ------------------------- */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  /* ------------------------ Main Section  ---------------------------- */
  
  main #aside_section {
    width: 90%;
    max-width: 500px;
    margin: 2em auto;
  }

  /* ------------------------ Body Section  ---------------------------- */
  
  body {
    font-family: sans-serif;
    background-color: var(--backgroundsecundary-clr);
  }

  /* ------------------------ Aside Section  ---------------------------- */

  #aside_section {
    background-color: var(--backgroundprimary-clr);
    border: 1px solid;
    padding: 5px;
    box-shadow: 5px 7px var(--backgroundbox-clr);
    max-height: fit-content;
    padding: auto;
  }

  .aside_title {
    outline: 1px solid red;
    margin-top: 0.3em;
    font-size: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
  }

  .aside_list {
    padding: 0.5em;
    font-size: 1.1em;
    line-height: 1.8em;
  }

  /* ------------------------ Media query  ---------------------------- */

  @media screen and (max-width: 480px) {
    
  }